{%import json%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Testimonial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{static_url('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{static_url('bootstrap/css/bootstrap-responsive.min.css')}}" rel="stylesheet">
    <link href="{{static_url('bootstrap/css/bootstrap-wysihtml5.css')}}" rel="stylesheet">
    <link href="{{static_url('dojo/1.8.3/dijit/themes/soria/soria.css')}}" rel="stylesheet">
    <link href="{{static_url('dojo/1.8.3/dijit/themes/tundra/tundra.css')}}" rel="stylesheet">
    <link href="{{static_url('dojo/1.8.3/dijit/themes/claro/claro.css')}}" rel="stylesheet">
    <link href="{{static_url('dojo/1.8.3/dojox/editor/plugins/resources/css/Save.css')}}" rel="stylesheet">
    <link href="{{static_url('css/main.css')}}" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{static_url('bootstrap/ico/apple-touch-icon-144-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{static_url('bootstrap/ico/apple-touch-icon-114-precomposed.png')}}">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{static_url('bootstrap/ico/apple-touch-icon-72-precomposed.png')}}">
                    <link rel="apple-touch-icon-precomposed" href="{{static_url('bootstrap/ico/apple-touch-icon-57-precomposed.png')}}">
                                   <link rel="shortcut icon" href="{{static_url('bootstrap/ico/favicon.png')}}">
    <!-- Style overrides: -->
    <style type="text/css">
      .img-profile{
        width:30px;
        height:30px;
      }
      .profile-name{
        display: inline-block !important;
        padding-left: 1px !important;
      }
      .friend_row{
        cursor:pointer;
      }
    </style>

  </head>

  <body class="claro">

    <div id="top_navbar" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Testimonial</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="span6 offset1">
                <form class="navbar-form form-search">
                  <div class="input-append">
                    <input class="span4 search-query" type="text" placeholder="Search...">
                    <button type="submit" class="btn">Search</button>
                  </div>
                </form>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notifications <span class="notif-surround"><span class="badge badge-info notif-background" id="notif_background">&nbsp;</span><span id="num_notif">0<br/></span></span><b class="caret"></b></a>
                <ul class="dropdown-menu" id = "notif_list_node">
                  <li class="nav-header">Notifications</li>
                  <!-- <li><a href="#">Action</a></li> -->
                  <!-- <li><a href="#">Another action</a></li> -->
                  <!-- <li><a href="#">Something else here</a></li> -->
                  <!-- <li class="divider"></li> -->
                  <!-- <li class="nav-header">Messages</li> -->
                  <!-- <li><a href="#">Separated link</a></li> -->
                  <!-- <li><a href="#">One more separated link</a></li> -->
                </ul>
              </li>
              <!-- <li><i class="icon-exclamation-sign icon-white"></i></li> -->
              <li class="dropdown">
                <img class="img-rounded img-profile inline" src="{{user['picture']['data']['url']}}" />
                <a href="#" class="dropdown-toggle profile-name" data-toggle="dropdown">{{user['name']}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/auth/logout">Logout</a></li>
                  <!-- <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li> -->
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="mainWidget_div" data-dojo-type="testimonial.MainViewWidget"></div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{{static_url('js/socket.io.js')}}"></script>
    <div id="fb-root"></div>
    <script type="text/javascript">
      var dojoConfig=(function(){
          return {
              async:true,
              isDebug:true,
              parseOnLoad:true,
              packages:[
              {
                name:"testimonial",
                location: location.origin+"/static/dojo/Testimonial"
              },
              {
                name: "bootstrap",
                location: location.origin+"/static/dojo/Dojo-Bootstrap"
              }],
          };

      })();
    </script>
    <script type="text/javascript" src="{{static_url('dojo/1.8.3/dojo/dojo.js')}}"></script>
    <script type="text/javascript">
      require([
          "dijit/dijit",
          "dojo/parser",
          "dojo/ready",
          "testimonial/MainViewWidget",
        ]);
    </script>
    <script src="{{static_url('js/jquery-1.9.1.min.js')}}"></script>
    <script src="{{static_url('js/wysihtml5-0.3.0.min.js')}}"></script>
    <script src="{{static_url('bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{static_url('bootstrap/js/bootstrap-wysihtml5.js')}}"></script>
    <script type="text/javascript">
      // You probably don't want to use globals, but this is just example code
      var fbAppId = "{{facebook_app_id}}";

      // This is boilerplate code that is used to initialize the Facebook
      // JS SDK.  You would normally set your App ID in this code.

      // Additional JS functions here
      window.fbAsyncInit = function() {
        FB.init({
          appId      : fbAppId,        // App ID
          status     : true,           // check login status
          cookie     : true,           // enable cookies to allow the server to access the session
          xfbml      : true            // parse page for xfbml or html5 social plugins like login button below
        });
        // Put additional init code here
        require(["dojo/ready", "dojo/dom", "dojo/_base/fx", "dojo/on", "dijit/registry"], function(ready, dom, base_fx, on, registry){
          var avoid_websockets = {{avoid_websockets}};
          if(avoid_websockets)
            io.transports = ["xhr-polling", "jsonp-polling", "flashsocket", "htmlfile"]
          else
            io.transports = ["websocket", "xhr-polling", "jsonp-polling", "flashsocket", "htmlfile"]
          var setupWebsocket = function(){
              var mainWidget = registry.byId("mainWidget_div");
              if(mainWidget)
                mainWidget.setupWebsocket();
              else
                setTimeout(setupWebsocket, 100);
            }
          setupWebsocket();
          FB.login(function(response) {
            if (response.authResponse)
            {
              console.log('Welcome!  Fetching your information.... ');
              FB.api('/me/friends', function(response) {
                if(response.data)
                {
                  friends_data=response;
                  var set_friends_data = function(){
                    var mainWidget = registry.byId("mainWidget_div");
                    if(mainWidget)
                      mainWidget.set_friends_data(friends_data);
                    else
                      setTimeout(set_friends_data, 100);
                  }
                  set_friends_data();
                }
                else
                {
                  console.log("Response.data does not exist");
                }
              });
            }
            else
            {
              console.log('User cancelled login or did not fully authorize.');
            }
          });
        });
      };
      // Load the SDK Asynchronously
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

    </script>
  </body>
</html>
