<!DOCTYPE html>
<html lang="en">
  <head>
	    <meta charset="utf-8">
	    <title>Testimonial</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="Rajat Khandelwal">
        <link href="{{static_url('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
	    <link href="{{static_url('bootstrap/css/bootstrap-responsive.min.css')}}" rel="stylesheet">
	    <link href="{{static_url('bootstrap/css/bootstrap-wysihtml5.css')}}" rel="stylesheet">
	    <link href="{{static_url('css/main.css')}}" rel="stylesheet">
	</head>
	<body>
		<div id="top_navbar" class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="brand" href="/">Testimonial</a>
	          <div class="nav-collapse collapse">
	            <ul class="nav">
	              <li class="span6 offset1">
	                <!-- search form used to be here -->
	              </li>

	              <!-- <li><i class="icon-exclamation-sign icon-white"></i></li> -->

	            </ul>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div>
	    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="span4 page">
        <h1>Testimonial</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>


      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Write Testimonials For your friends</h2>
          <p><div class="fb-login-button" size="large" data-show-faces="true" data-width="300" data-max-rows="2"></div></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; prongs</p>
      </footer>

    </div> <!-- /container -->


	</body>
	<div id="fb-root"></div>
	<script>
	window.fbAsyncInit = function(){
		FB.getLoginStatus(function(response) {
			if (response.status === 'connected')
			{
			    window.location = "/home"
		  	}
		  	else if (response.status === 'not_authorized')
		  	{
			    // the user is logged in to Facebook,
			    // but has not authenticated your app
		  	}
		  	else
		  	{
		    // the user isn't logged in to Facebook.
		  	}
		 });
	};
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={{facebook_app_id}}";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>
</html>
