<div class="modal fade">
	<div class="modal-header">
		<button type="button" class="close" data-dojo-attach-point="closeNode" aria-hidden="true">&times;</button>
		<span data-dojo-attach-point="headerNode"><h1>Help</h1></span>
	</div>
	<div class="modal-body" data-dojo-attach-point="containerNode">
		<table style="width:80%;">
			<tr><td><code>ctrl+z</code></td> <td style="width:10%">:</td> <td>Undo</td></tr>
			<tr><td><code>ctrl+y</code></td> <td style="width:10%">:</td> <td>Redo</td></tr>
			<tr><td><code>ctrl+a</code></td> <td style="width:10%">:</td> <td>Select All</td></tr>
			<tr><td><code>ctrl+s</code></td> <td style="width:10%">:</td> <td>Save Draft</td></tr>
			<tr><td><code>ctrl+b</code></td> <td style="width:10%">:</td> <td>Togle Bold Text</td></tr>
			<tr><td><code>ctrl+i</code></td> <td style="width:10%">:</td> <td>Togle Italic Text</td></tr>
			<tr><td><code>ctrl+u</code></td> <td style="width:10%">:</td> <td>Togle Underline Text</td></tr>
			<tr><td><code>ctrl+1</code></td> <td style="width:10%">:</td> <td>Heading 1</td></tr>
			<tr><td><code>ctrl+2</code></td> <td style="width:10%">:</td> <td>Heading 2</td></tr>
			<tr><td><code>ctrl+3</code></td> <td style="width:10%">:</td> <td>Heading 3</td></tr>
			<tr><td><code>ctrl+4</code></td> <td style="width:10%">:</td> <td>Heading 4</td></tr>
			<tr><td><code>ctrl+shift+f11</code></td> <td style="width:10%">:</td> <td>Toggle Full Screen</td></tr>
		</table>
	</div>
	<div class="modal-footer" data-dojo-attach-point="footerNode">
		<button type="button" class="btn btn-primary" data-dojo-attach-point="ok_btn" aria-hidden="true">OK</button>
	</div>
</div>
