<div class="modal fade">
	<div class="modal-header">
		<button type="button" class="close" data-dojo-attach-point="closeNode" aria-hidden="true">&times;</button>
		<span data-dojo-attach-point="headerNode"><h1>Help</h1></span>
	</div>
	<div class="modal-body" data-dojo-attach-point="containerNode">
		<ul>
			<li><code>ctrl+z</code>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Undo</li>
			<li><code>ctrl+y</code>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Redo</li>
			<li><code>ctrl+a</code>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Select All</li>
			<li><code>ctrl+s</code>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Save Draft</li>
			<li><code>ctrl+b</code>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Togle Bold Text</li>
			<li><code>ctrl+i</code>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Togle Italic Text</li>
			<li><code>ctrl+u</code>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Togle Underline Text</li>
			<li><code>ctrl+1</code>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Heading 1</li>
			<li><code>ctrl+2</code>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Heading 2</li>
			<li><code>ctrl+3</code>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Heading 3</li>
			<li><code>ctrl+4</code>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Heading 4</li>
			<li><code>ctrl+shift+f11</code>&nbsp;&nbsp;:&nbsp;&nbsp; Toggle Full Screen</li>
		</ul>
	</div>
	<div class="modal-footer" data-dojo-attach-point="footerNode">
		<button type="button" class="btn btn-primary" data-dojo-attach-point="ok_btn" aria-hidden="true">OK</button>
	</div>
</div>
