<div class="modal fade">
	<div class="modal-header">
		<button type="button" class="close" data-dojo-attach-point="closeNode" aria-hidden="true">&times;</button>
		<span data-dojo-attach-point="headerNode"><h1>Help</h1></span>
	</div>
	<div class="modal-body" data-dojo-attach-point="containerNode">
		<p>
			As of now, your friend can't see your testimonial for him/her. If you choose to continue, they will receive a notification saying you wrote a testimonial and they will be able to see your testimonial. After notifying, if you make any further changes in the testimonial, they will not see the changes untill you choose to notify them again.
		</p>
	</div>
	<div class="modal-footer" data-dojo-attach-point="footerNode">
		<button type="button" class="btn btn-danger" data-dojo-attach-point="cancel_btn" aria-hidden="true">I do not wish to notify</button>
		<button type="button" class="btn btn-success" data-dojo-attach-point="ok_btn" aria-hidden="true">I wish to notify</button>
	</div>
</div>
